@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
*
{
  margin: 0;
  padding: 0;
}

html,body
{
  width: 100%;
  height: 100%;
}

body
{
  font-family: 'Roboto', sans-serif;
}
.container
{
  padding-top: 1px;
}


a
{
  color: inherit;
  text-decoration: none;
}

.main_navi_bar_container
{
  width: 90%;
  min-width: 300px;
  padding: 1px 2.5%;
  color: #fff;
  background: rgba(0,114,255,1);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1),inset 0 0 5px rgba(0,0,0,0.3);
  position: fixed;
  top: 5px;
  left: 2.5%;
}

.navi_bar_container
{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.nav_name_cont
{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_name_cont>a:hover
{
  font-weight: bold;
  border-bottom: 1px solid #fff;
}

.nav_name_cont>a:nth-child(1)
{
  font-weight: bold;
  border-bottom: 1px solid #fff;
}

.location_cont
{
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location_cont>.location_icon
{
  width: 20px;
  filter: invert(100%);
}

.location_cont>a
{
  border-bottom: 1px solid #fff;
}

.user_img
{
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 100%;
}

.user_img>img
{
  width: 100%;
}

.log_btn
{
  width: 60px;
  text-align: center;
  padding: 5px 0;
  color: rgba(0,114,255,1);
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,100,0.1);
  transition: all 0.5s;
  cursor: pointer;
}

.log_btn:hover
{
  box-shadow: 0 0 10px rgba(0,0,100,0.3);
}

.log_btn:active
{
  box-shadow: 0 0 10px rgba(0,0,100,0.3);
  transform: scale(0.98);
}



.icons
{
  width: 60px;
/*   background: green; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.order_history
{
  width: 30px;
  filter: invert(100%);
}

.cart_icon
{
  width: 20px;
  position: relative;
}

.cart_icon>img
{
  width: 100%;
  filter: invert(100%);
}
.cart_alert
{
  padding: 5px;
  background: rgba(250, 52, 52,1);
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -6px;
}

.search_cont
{
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}

.search_cont>input
{
  width: 90%;
  padding: 10px 5%;
  border: none;
  outline: none;
  border-radius: 5px;
}

.search_cont>img
{
  width: 20px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 8px;
}

/* Mobile UI */

.navi_name_container_mobile
{
  width: 90%;
  min-width: 300px;
  padding: 5px 2.5%;
  color: #fff;
  background: rgba(0,114,255,1);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1),inset 0 0 5px rgba(0,0,0,0.3);
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 5px;
  left: 2.5%;
}

.nav_name
{
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.nav_name>img
{
  width: 20px;
  hright: 20px;
  filter: invert(100%);
}

/* Media Query */
@media screen and (max-width: 600px) 
{
  .nav_name_cont
  {
    display: none;
  }
  .navi_name_container_mobile
  {
    display: flex;
  }
}